.highlight-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    width: 300px;
    transition: var(--transition-1);
    cursor: pointer;
    padding: 0.5rem 0rem;
    
}
.highlight-item:hover {
    background-color: var(--bg-2);
}
.page-flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: flex-start;
    width: 100%;
}
.highlight-result-item-text {
    height: 60px;
    overflow-y: hidden;
    font-size: var(--font-size-14);
    line-height: 1.25rem;
    color: var(--t-1);
}
.page-stats {
    color: var(--t-3);
    font-size: var(--font-size-14);
    padding: 0.25rem 0.25rem;
    border-top: 1px solid var(--bg-4);
    border-bottom: 1px solid var(--bg-4);
    margin: 0.5rem 0rem;

}
.note-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    overflow-y: hidden;
    border-bottom: 1px solid var(--bg-4);   
}
.note-delete {
    background-color: var(--red);
    color: var(--white);
    font-weight: 400;
    font-size: var(--font-size-16);
    cursor: pointer;
    padding: 0.5rem;
    min-height: 100%;
    box-sizing: border-box;
    transition: var(--transition-1);
    display: flex;
    align-items: center;
    position: relative;
    flex: 1 1 auto;
    height: 96px;
   
    margin: 0.2rem 0.2rem 0.2rem 0rem;

}
.note-delete:hover {
    opacity: 0.9;
    background-color: var(--red-2);
}
.note-item{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    width: 300px;
    transition: var(--transition-1);
    cursor: pointer;
    padding: 0.5rem 0rem;
    
}

.note-item:hover{
    background-color: var(--bg-2);
}
.note-title {
    font-size: var(--font-size-16);
    color: var(--t-1);
    font-weight: 400;
    display:flex;
    align-items: center;
    width: 100% ; 
    gap: 0.25rem;
}
.note-item-text {
    font-size: var(--font-size-14);
    color: var(--t-1);
}
.highlight-indicator {
    height:16px;
    display: inline-block;
    aspect-ratio: 1/1;
    border: 1px solid var(--bg-4);
    border-radius: 50%;
}
.note-icon {
    display: flex;
    align-items: center;
    color: var(--t-3);
    font-size: var(--font-size-16);
    font-weight: 500;
    padding-right: 0.25rem;
}
.note-date {
    margin-left: auto;
    font-size: var(--font-size-14);
    color: var(--t-1);
}
.text-selector-container {
    width: 100%;
    height: 400px;
}
.text-selector {
    display: flex;
    align-items: center;
    align-content: flex-start;
    height: 400px;
    background-color: var(--bg-3);
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    
    position: relative;
    gap: 0.25rem;
    overflow-y: auto;
    padding: 0.25rem;
    box-sizing: border-box;
    justify-content:center;

}
.get-item {
    background-color: var(--bg-1);
    color: var(--t-1);
    font-weight: var(--font-size-16);
    padding:0.25rem ;
    border-radius: 4px;
    box-shadow: var(--box-shadow-1);
    width:60px;
    font-size: 13px;
    cursor: pointer;
    text-align: center;
    position: relative;
    white-space: nowrap;
    @apply flex flex-nowrap
    ;
}
.get-item2 {
    background-color: var(--bg-4);
    color: var(--t-1);
    font-weight: var(--font-size-16);
    padding:0.25rem ;
    border-radius: 4px;
    box-shadow: var(--box-shadow-1);
    width:60px;
    cursor: pointer;
    text-align: center;
    position: relative;
    text-decoration: none;
}
.get-item-number {
    font-size: 7px;
    color: var(--t-1);
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0.125rem;
}