.footer {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    background-color: var(--bg-1);
    border-top: 1px solid var(--bg-4);
    height: 40px;
}
.footer-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.footer-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: var(--t-3);
    font-size: var(--font-size-14);
    position: relative;
    gap: 0.25rem;
}

.footer-link {
    text-decoration: underline;
    color: var(--t-3);
    font-weight: 400;
    font-size: var(--font-size-14);
    display: flex;
    align-items: center;
    justify-content:center;
}