.header {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 80px;
    background-color: var(--bg-1);
    box-sizing: border-box;
    padding: 1rem 2rem;
    z-index: 1;
    border-bottom: 1px solid var(--bg-4);
    box-shadow: var(--box-shadow-1);
}

.header-nav {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.hamburger-blur {
    display: none;
    position: absolute;
    width: 100vw;
    height:100dvh;
    background-color: var(--bg-b);
    right: 0px;
    top: 0px;
    cursor: pointer;
}
.hamburger-blur.open {
    display: flex;
}
.header-menu {
    cursor: pointer;
    display: flex;
    color: var(--theme);
    font-weight: 400;
    font-size: var(--font-size-24);
    align-items: center;
}
.hamburger {
    --hamburger-width:320px;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--navy);
      display: flex;
      align-items:center;
      justify-content: flex-start;  
      flex-direction: column;
      transform: translate(-100%,0%);
      width: var(--hamburger-width);
      height: 100dvh;
      transition: all 0.13s ease-in-out ;
      box-sizing: border-box;
      padding: 0rem 0.0rem;
      overflow-y: hidden;
      overflow-x: hidden;
      --hamburger-x-padding:1rem;
      box-shadow: var(--box-shadow-1);
      z-index: 1;

    }
 .hamburger-hr {
    width: 300px;
    color: var(--grey2);
 }   
.hamburger.open {
    transform: translate(0%,0%);
}

.header-theme {
    margin-left: auto;
}

.hamburger-item {
    color: var(--white);
    font-size: var(--font-size-16);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    width: 100%;
    box-sizing: border-box;
}
 .hamburger-item-icon {
    font-size: var(--font-size-16);
    color: var(--white);
    display: flex;
    align-items: center;

}
.hamburger-item-text {
    font-size: var(--font-size-16);
    color: var(--white);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--grey2);
    flex: 1 1 auto;
}
.hamburger-title {
    color:var(--grey2);
    font-size: var(--font-size-14);
    font-weight: 400;
    padding: 0.5rem var(--hamburger-x-padding);
    border-bottom: 1px solid var(--);
    width: 100%;
    box-sizing: border-box;
    z-index: 0;
    position: relative;
}
.hamburger-user-wrapper {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    flex-wrap: wrap;
    
}
.hamburger-user {
    color:var(--grey2);
    font-size: var(--font-size-14);
    font-weight: 400;
}
.header-book {
    color: var(--theme);
    font-size: var(--font-size-16);
    font-weight: 500;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    cursor: pointer;
}
.header-search {
    cursor: pointer;
    color: var(--theme);
    font-weight: 600;
    font-size: var(--font-size-24);
    display: flex;
    align-items: center;
    justify-content: center;
}
.search {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: var(--white);
      display: flex;
      align-items:center;
      justify-content: flex-start;  
      flex-direction: column;
      transform: translate(100%,0%);
      width: 320px;
      height: 100dvh;
      transition: all 0.13s ease-in-out ;
      box-sizing: border-box;
      padding: 0rem;
      box-shadow: var(--box-shadow-1);
      overflow-x: hidden;
      overflow-y: scroll;  
      z-index: 1; 
      background-color: var(--bg-1);
    }
    
.search.open {
    transform: translate(0%,0%);
}
.search-back {
    font-size: var(--font-size-16);
    color: var(--t-3);
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 4px;
}
.search-form {
    position: sticky;
    top: 0;
    display: flex;
    height: 80px;
    min-height: 80px;
    box-shadow: var(--box-shadow-1);
    box-sizing: border-box;
    border-bottom: 1px solid var(--bg-4);
    width: 320px;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    background-color: var(--bg-1);
}
input[type="text"].search-input {
    color:var(--t-2);
    padding: 4px 6px;
    font-size: var(--font-size-16);
    border: none;
    outline: none;
    background-color: var(--bg-1);
}
.search-button {
    color: var(--t-1);
    font-size: var(--font-size-24);
    font-weight: 600;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.search-results {
    margin-top: 0px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow-x:hidden ;
    overflow-y: scroll;
    padding: 0rem 0.5rem;
    background-color: var(--bg-1);
}

.search-result-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    transition: var(--transition-1);
    cursor: pointer;
    padding: 0.5rem 0rem;
    border-bottom: 1px solid var(--bg-4);
}
.search-result-item:hover {
    background-color: var(--bg-2);
}
.search-result-item-title {
    width: 100%;
    color: var(--t-1);
    font-size: var(--font-size-16);
    font-weight: 400;
    display: flex;
    align-items: center;
}
.search-result-item-text {
    font-size: var(--font-size-14);
    color: var(--t-1);
    font-weight: 400;
}

.search-result-highlight {
    font-weight: 600;
}

.search-number {
    padding: 1rem 0rem;
    color: var(--t-3);
    font-size: var(--font-size-16);
border-bottom: 1px solid var(--bg-4);
width: 100%;
}

.search-result-icon {
    margin-left: auto;
    color: var(--t-3);
    font-size: inherit;
    padding: 0rem 0.5rem;
}
.recent-searches {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.25rem;
    width: 100%;
}
.recent-span {
    color: var(--t-3);
    font-size: var(--font-size-14);
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    

}
.recent-clear {
    color: var(--theme);
    font-size: var(--font-size-16);
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
    padding: 0rem 0.25rem;
}
.recent-search-item {
    background-color: var(--bg-3);
    border-radius: 8px;
    padding: 0.25rem;
    font-size: var(--font-size-14);
    color: var(--t-1);
    font-weight: 400;
    cursor: pointer;
    transition: var(--transition-1);
    margin-left: 2rem;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.recent-search-item::before {
    content:"•";
    position: absolute;
    left: -1rem;
}
.recent-search-item:hover {
    background-color: var(--bg-4);
}
.hamburger-link-div {
    position: sticky;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    gap:1rem;
    top: 0px;
    /* z-index: 1; */
    background-color: var(--navy);
    box-shadow: var(--box-shadow-1);
    padding: 0.5rem var(--hamburger-x-padding);
    box-sizing: border-box;
    margin-bottom: 1rem;
}
.chapter-grid {
    margin: 1rem 0rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.chapters-new, .chapters-old {
    width:auto;
    height: min-content;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: flex-start;
    width: 300px;
    background-color: var(--bg-1);
}
.chapters-new > div:nth-child(even), .chapters-old > div:nth-child(even){
    background-color: var(--bg-2);
}
.chapters-new > div:nth-child(odd),.chapters-old > div:nth-child(odd){
    background-color: var(--bg-3);
}
.book-item {
    display: flex;
    width:60px;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    padding: 0.125rem 0rem;
    
}

.book-item-name {
    color: var(--t-1);
    font-size: var(--font-size-16);
    font-weight: 400;
    cursor: pointer;
    height: 20px;
}
.chapters-menu-blur {
    display: none;
    background-color: var(--white);
    width: var(--hamburger-width);
    height: 100dvh;
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0px;
}
.chapters-menu-blur.open {
    display: flex;
}
.chapters-hamburger {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    transform: translate(-100%,0%);
    transition: all 0.13s ease-in-out ;
    background-color: var(--bg-2);
    color: var(--t-1);
    position:absolute ;
    top: 0%;
    cursor: pointer;
    padding: 0rem var(--hamburger-x-padding);
    border: 1px solid var(--bg-4);
    box-sizing: border-box;
    overflow-y: auto;
}

.chapters-hamburger.open {
    transform: translate(0%,0%);
}
.chapters-hamburger > span:nth-child(even){
    background-color: var(--bg-1);
}
.chapters-hamburger > span:nth-child(odd){
    background-color: var(--bg-3);
}

.chapter-item {
    color: var(--t-1);
    padding: 0.3rem;

}

.chapters-hamburger-title {
    width: 300px;
    display: flex;
    align-items: center;
    padding: 0.125rem 0rem;
    color: var(--t-2);
    background-color: var(--bg-3);
    margin: 0.25rem 0rem;
}

.settings-name {
    color: var(--white);
    font-size: var(--font-size-16);
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.settings {
    z-index: 1;
    display: flex;
    background-color: var(--bg-1);
    width: var(--hamburger-width);
    height: 100dvh;
    position: absolute;
    transform: translate(-100%,0);
    transition: var(--transition-1);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.settings.open {
    transform: translate(0%);
}
.settings-header {
    display: flex;
    position: fixed;
    width: var(--hamburger-width);
    height: 80px;
    background-color: var(--bg-1);
    box-sizing: border-box;
    padding: 1rem 2rem;
    z-index: 1;
    border-bottom: 1px solid var(--bg-4);
    box-shadow: var(--box-shadow-1);
    align-items: center;
    
}

.settings-back {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--t-3);
    font-size: var(--font-size-16);
    font-weight: 600;
}
.settings-title {
    transform: translate(-50%,0);
    position: absolute;
    left: 50%;
color: var(--theme);
font-weight: 500;
font-size: var(--font-size-16);
}
.settings-header ~ p{
    box-shadow: var(--box-shadow-1);
    color: var(--t-1);
    font-weight: 400;
    padding: 0.5rem;
    margin: 0.5rem;
    margin-top: 88px;
    border-radius: 8px;
    height: 160px;
    overflow: hidden;
}
.font-size-container {
    box-sizing: border-box;
    display: flex;
    padding: 0.5rem;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    border-bottom: 1px solid var(--bg-4);
    color: var(--t-1);
}
.font-size-input {
    cursor: pointer;
    width:100px;

}
input[type="range"]{
        
}
.font-size-input-name, .font-size-span {
    
    color: var(--t-1);
    font-size: var(--font-size-14);

}

.font-size-minus , .line-height-minus, .font-size-mag ,.line-height-plus{
    color: var(--theme);
    font-size: var(--font-size-36);
    font-weight: 600;
    display: flex;
    align-items: center;
    cursor: pointer;
    ---button-dim:26px;
    width: var(---button-dim);
    height:var(---button-dim) ;
    border: 1px solid var(--bg-2);
    border-radius: 50%;
    /* outline: 3px solid var(--theme2); */
    transition: var(--transition-1);
    display: flex;
    align-items: center;
    justify-content: center;
   justify-self: flex-end;
    margin-right: 0rem;
    background-color: var(--bg-1);
    box-shadow: var(--box-shadow-1);
}

.font-size-minus:hover, .font-size-mag:hover {
    opacity: 0.8;
}
.color-theme-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content:flex-start;
    flex-direction: column;
    padding: 0.5rem;
    box-sizing: border-box;
    gap: 0.5rem;
    color: var(--t-1);
    border-bottom: 1px solid var(--bg-4);
}
.theme-button-light {
    width:50px ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: 1px solid var(--blue2);
    color: var(--bg-dt);
    background-color: var(--white);
    font-size: var(--font-size-14);
    cursor: pointer;
    box-shadow: var(--box-shadow-1);
}
.theme-button-dark{
    width:50px ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: 1px solid var(--bg-4);
    color: var(--white);
    background-color: var(--bg-dt);
    font-size: var(--font-size-14);
    cursor: pointer;
    box-shadow: var(--box-shadow-1);
}
.theme-button-sepia {
    width:50px ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: 1px solid var(--bg-4);
    color:#46220f ;
    background-color:#e3ceb9;
    font-size: var(--font-size-14);
    cursor: pointer;
    box-shadow: var(--box-shadow-1);
}
.theme-button-sepia.checked-light {
    outline: 3px solid var(--red);
}
.theme-button-rose {
    width:50px ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: 1px solid var(--bg-4);
    color:#998B89 ;
    background-color:#eabfb9;
    font-size: var(--font-size-14);
    cursor: pointer;
    box-shadow: var(--box-shadow-1);
}
.theme-button-rose.checked-light {
    outline: 3px solid #F17881;
}
.theme-button-light.checked-light {
    outline: 3px solid var(--paleblue);
}
.theme-button-dark.checked-dark {
    outline: 3px solid var(--theme);
}

.close-menu {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: var(--theme);
    font-size: var(--font-size-16);
    cursor: pointer;
    font-weight: 600;
    padding-right: 0.25rem;
}
.translation-container {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    border-bottom: 1px solid var(--bg-4);
}
.translation-container > label {
    color: var(--t-1);
    font-weight: 400;
    font-size: var(--font-size-16);
}
.search-select {
    font-size: var(--font-size-16);
    font-weight: 400;
    color: var(--t-1);
}
.translation-select {
    background-color: var(--bg-2);
    font-size: var(--font-size-14);
    margin-left: auto;
    border: 1px solid var(--bg-4);
    border-radius: 4px; 
    padding: 0.25rem;
    cursor: pointer;
    width: 116px;
}

.testament-title {
    background-color: var(--bg-3);
    
    width: 100%;
    font-size: var(--font-size-16);
    padding: 0.125rem;
    color: var(--t-3);
}

.settings-verse {
    color: var(--blue2);
    font-weight: 500;
    font-size: inherit;
}

.search-category-name {
    color: var(--t-1);
    font-weight: 400;
    font-size: var(--font-size-14);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.25rem;
    grid-template-rows: auto;
    position: relative;
    cursor: pointer;
    

}
.search-graph {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.25rem 0rem;
}
.search-category-bar {
    background-color: var(--theme);
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    color: var(--white);
}

.history-clear {
    margin-top: 80px;
    color: var(--t-3);
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    font-size: var(--font-size-14);
    --history-h-padding:0.5rem;
    padding: 1rem var(--history-h-padding);
    border-bottom: 1px solid var(--bg-3);
}

.history-delete {
    color: var(--t-1);
    font-size: var(--font-size-16);
    cursor: pointer;
   
    
}
.history-wrapper {
    padding:0.5rem;
}