.home-main {
  background-color: var(--bg-3);  
}
.display {
    position: relative;
    max-width: 680px;
    padding: 1rem 0.0rem;
    background-color: var(--bg-1);
    box-shadow: var(--box-shadow-1);
}

.text-paragraph {
    max-width: 70ch;
    color: var(--t-1);
    font-size: var(--font-size-16);
    line-height: 1.5rem;
    padding: 0rem 1rem;
    margin-bottom: 4rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 200px;
}
.text-paragraph-verse-number {
    color: var(--blue2);
    font-weight: 500;
    font-size: var(--font-size-16);
    white-space: pre-wrap;
    cursor: pointer;
}
.text-paragraph-verse-text {
    color: var(--t-1);
    font-weight: 400;
    cursor: pointer;
}
.turner-left {
    display: flex;
    position: relative;
    /* bottom: 5rem; */
    padding: 0.25rem;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    color:var(--t-1);
    aspect-ratio: 1/1;
    width: 44px;
    border-radius: 50%;
    box-shadow: var(--box-shadow-1);
    background-color: var(--bg-1);
    transition: var(--transition-1);
    /* z-index: 1; */
    transform: translate(50%,0);
}

.turner-left:hover, .turner-right:hover {
    background-color: var(--bg-2);
}

.turner-right {
    display: flex;
    position: relative;
    /* bottom: 5rem; */
    /* right: 0rem; */
    /* left: 100%; */
    padding: 0.25rem;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    color:var(--t-1);
    aspect-ratio: 1/1;
    width: 44px;
    border-radius: 50%;
    box-shadow: var(--box-shadow-1);
    background-color: var(--bg-1);
    transition: var(--transition-1);
    /* z-index: 1; */
    transform: translate(-50%,0);
    margin-left: auto;
}
.turner-container {
    position: fixed;
   max-width: 100vw;
   width: 680px;
    display: flex;
    align-items: center;
    bottom: 5rem;
    height:0px;
    background-color: aliceblue;
}
.note-menu {
    color: var(--white);
    background-color: var(--black2);
    display: flex;
    opacity: 0;
    align-items: center;
    flex-direction: column;
    max-width: 100vw;
   width: 680px;
    position: fixed;
    /* left: 50%;
    transform: translate(-50%,0%); */
    transition: var(--transition-1);
    bottom: 0;
    z-index: -1;  
    padding: 0rem;
    height: 40px;
    justify-content: flex-start;
    box-sizing: border-box;
    
}
.note-menu.open{
    /* transform: translate(-50%,0%); */
  
    opacity: 1;
    z-index: 2;
   
   
}
.note-options {
    width: 0px;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    margin-right: 0rem;
    transition: var(--transition-1);
}
.note-options.open {
    width: 100%;
    flex: 1 1 auto;
}
.note-cross {
    cursor: pointer;
    font-size: var(--font-size-24);
    position: relative;
    right: 0px;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
}
.note-span {
    color:var(--white);
    border: 1px solid var(--white);
    padding: 4px 8px;
    box-sizing: border-box;
    height: 32px;
    border-radius: 8px;
    transition: var(--transition-1);
    cursor: pointer;
}

.note-span:hover {
    color: var(--hover);
}

.highlight-container {
    width: 0px;
    overflow-x: hidden;
    flex: 0 1 auto;
    height:100%;
    display: flex;
    align-items: center;
    transition: var(--transition-1);
    justify-content: space-evenly;
}

.highlight-container.open{
    width: 100%;
}

.highlight-close {
    display: flex;
    align-items: center;
    color: var(--white);
    font-weight: 500;
    font-size: var(--font-size-16);
    cursor: pointer;
    padding: 0rem 0.25rem;
}
.highlight-colors {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    gap: 0.5rem;
    height: 20px;
    padding: 0rem 1rem;
}
.highlight-none {
    height: 100%;
    aspect-ratio: 1/1;
    border: 1px solid var(--white);
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.highlight-red {
    height: 100%;
    aspect-ratio: 1/1;
    border: 1px solid var(--white);
    border-radius: 4px;
    background-color:var(--red);
    cursor: pointer;
}
.highlight-orange {
    height: 100%;
    aspect-ratio: 1/1;
    border: 1px solid var(--white);
    border-radius: 4px;
    background-color:var(--orange2);
    cursor: pointer;
}
.highlight-yellow {
    height: 100%;
    aspect-ratio: 1/1;
    border: 1px solid var(--white);
    border-radius: 4px;
    background-color: var(--yellow2);
    cursor: pointer;
}
.highlight-green {
    height: 100%;
    aspect-ratio: 1/1;
    border: 1px solid var(--white);
    border-radius: 4px;
    background-color:var(--palegreen) ;
    cursor: pointer;
}
.highlight-blue {
    height: 100%;
    aspect-ratio: 1/1;
    border: 1px solid var(--white);
    border-radius: 4px;
    background-color:var(--paleblue) ;
    cursor: pointer;
}
.highlight-purple {
    height: 100%;
    aspect-ratio: 1/1;
    border: 1px solid var(--white);
    border-radius: 4px;
    background-color:var(--purple);
    cursor: pointer;
}

.note-note {
    width: 100%;
    display: flex;
    height:0px;
    overflow: hidden;
    flex: 1 1 auto;
    transition:var(--transition-1);
    position: absolute;
    color: var(--white);
    background-color: var(--black2);
    flex-direction: column;
}
.note-note.open {
    height: 200px;
    transform: translate(0,-100%);
}
.note-options-wrapper {
    color: var(--white);
    background-color: var(--black2);
    display: flex;
    opacity: 1;
    align-items: center;
    flex-direction: row;
    width: 100%;
    position: sticky;
    /* left: 50%;
    transform: translate(-50%,0%); */
    transition: var(--transition-1);
    bottom: 0rem;
    z-index: 0;  
    padding: 0.25rem 0.5rem;
    height: 40px;
    justify-content: space-between;
    box-sizing: border-box;
    border-top-left-radius: 4px;
    border-top-right-radius:4px ;

}
.text-title {
    padding: 0.25rem 0.5rem;
    color: var(--bg-1);
    @apply rounded-md ml-3
    ;
    background-color: var(--theme);
    font-size: var(--font-size-16);
}
.note-note-title {
    color: var(--white);
    font-size: var(--font-size-16);
    font-weight: 400;
    padding: 0.5rem 1rem;
}
.note-close {
    margin-left: auto;
    color: var(--white);
    transform: rotate(-90deg);
    font-weight: 500;
    font-size: var(--font-size-16);
    cursor: pointer;
    padding: 1rem;
}
.note-form {
    width: 100%;
    display: flex;
    padding: 1rem;
    box-sizing: border-box;

}

.note-form > textarea {
    width: 100%;
    border: 1px solid var(--grey2);
    background-color: var(--black2);
    border-radius: 6px;
    margin: 0 auto;
    padding: 0.5rem;
    font-size: var(--font-size-16);
    color: var(--white);
}
textarea::placeholder {
    color:var(--grey2)
}
.text-span-notebook {
    color: var(--theme);
    /* border: 1px solid var(--theme); */
    /* border-radius: 50%; */
    display: inline;
    font-size: inherit;
    cursor: pointer;
    white-space:pre-wrap;

    /* align-items: center;
    font-size:inherit; */
}
.display-alert {
    color: var(--t-1);
    font-weight: 400;
    font-size: var(--font-size-16);
    display: none;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--bg-1);
    box-sizing: border-box;
    box-shadow: var(--box-shadow-3);
    position: fixed;
    top: 6rem;
    left: 50%;
    transform: translate(-50%,0);
    gap: 0.25rem;


}
.display-alert >a {
    color: var(--blue2);
    font-size: inherit;
    font-weight: inherit;
    text-decoration: underline;
}
.display-alert.open{
    display: flex;
}

.text-text {
    display:inline-flex;
    align-items: center;
    flex-wrap: wrap;
}
.text-span {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
}




.verse-span {
    position: relative;
    margin-left: 0.125rem;
    @apply inline-flex items-center
    gap-0.5
    ;
}
.verse-span-u {
    position: relative;
    margin-left: 0.125rem;
    position: relative;
    display: inline-flex;
    align-items: center;
}
.verse-span-u-h {
    position: relative;
    margin-left: 0.125rem;
    position: relative;
    display: inline-flex;
    align-items: center;
    background-color: var(--bg-4);
}
.verse-span-u-h::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: var(--t-4);
}
.verse-span-u::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: var(--bg-4);
}
.note-dict {
    width: 100%;
    display: flex;
    height:0px;
    overflow: hidden;
    flex: 1 1 auto;
    transition:var(--transition-1);
    position: absolute;
    color: var(--white);
    background-color: var(--black2);
    flex-direction: column;
    overflow-y: auto;
    padding: 0.5rem 0.5rem;
    box-sizing: border-box;
    gap: 0.5rem;

}
.note-dict.open {
    height: 200px;
    transform: translate(0,-100%);
}

.note-dict-top {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.0rem;
    padding: 0rem 0rem;
    box-sizing: border-box;

}
.note-dict-title {
    color: var(--white);
    font-size: var(--font-size-36);
    font-weight: 600;
}
.note-dict-found {
    margin-left: auto;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 100px;
    border: 1px solid var(--white);
    font-size: var(--font-size-14);

}
.note-dict-source {
    color: var(--grey2);
    font-size: var(--font-size-14);
    margin-bottom: 1.5rem;
}

.display-note-icon {
    cursor: pointer;
    color: var(--theme);
    display: flex;
    align-items: center;
}

.display__title__container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    --drag:hsla(0, 36%, 59%, 0.616);
}
.selectedWords__dragL {
    cursor: pointer;
    transition: var(--transition-1);
    position: absolute;
    width: 44px;
    height: 100%;
    background-color: var(--drag);
    top:0px;
    left:-44px;
}
.selectedWords__dragR {
    z-index: 1;
    cursor: pointer;
    transition: var(--transition-1);
    position: absolute;
    right:-44px;
    top:0px;
    width: 44px;
    height: 100%;
    background-color:var(--drag);
}

.selectedWords__dragR:hover,.selectedWords__dragL:hover{
    opacity: 0.5;
}


.highlight__menu {
    color: var(--white);
    background-color: var(--black2);
    
    flex-direction: row;
    max-width: 100vw;
   width: 680px;
    position: fixed;
   
    transition: var(--transition-1);
    top: 80px;
    z-index: 1;  
    padding: 0rem;
    overflow: hidden;
    justify-content: flex-start;
    box-sizing: border-box;
    height: 0px;
    transition: var(--transition-1);
    @apply flex items-center

    ;
}

.highlight__menu.open{
    height: 40px;

}

.text__title {
    color: var(--t-2);
    @apply flex flex-row font-medium
    items-center px-4 underline
    ;
}